<!-- templates/index.html-->
<html>
    <head>

    </head>
    <body>
        <div class = "container song">
            <img id="songImage" src={{songURL}}>
            <table>
                <tr>
                    <td>
                        <img id="artistProfile" src={{profileURL}}>
                    </td>
                    <td>
                        <h1>
                            <a href={{artistLink}}>Nat King Cole</a>
                        </h1>
                        <h2>{{title}}</h2>
                    </td>
                </tr>
            </table>
        </div>
    </body>
 </html>