<!-- templates/index.html-->
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Music App</title>
    </head>
    <body>
        <div class="container fade-in">
            <img class="albumCover square" id="songImage" src={{songURL}}>
            <table class="profileInfo">
                <tr>
                    <td>
                        <img class="square" id="artistProfile" src={{profileURL}}>
                    </td>
                    <td>
                        <h1>
                            <a href={{artistLink}}>Nat King Cole</a>
                        </h1>
                        <h2>{{title}}</h2>
                    </td>
                </tr>
            </table>
        </div>
    </body>
 </html>